.logo {
    height: 3.5em;
}

.searchLogo {
    height: 2em;
}

.navbar {
    padding: 1rem;
    font-size: 0.7rem;
    font-weight: bold;
    align-items: center;
    background-color: white;
}

.cartWidget {
    display: flex;
    justify-content: end;
}